<div class="container">
    <div class="header">
        <div class="clear">
            <i class="fa fa-refresh" (click)="clearLocalStorage()"></i>                
        </div>
        <div id="date"></div>
    </div>    
    <div class="content">        
        <ul id="list" (click)="todoListControls($event)">           
         </ul>            
        <div class="add-item">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <input type="text" id="input" placeholder="Add a to-do" (keyup)="addAToDo($event)">
        </div>
    </div>
</div>    